                <div class="section scrollto" id="hero">
                    <a name="home-section"></a> 
                    <img class="logo" src="img/logo.svg" width="280" alt="Andy's Garden Maintenance Logo" />
                    <h1>Gardening services in Bucks & Berks</h1>
                    <h2>07805 406178 | andysgardenm@gmail.com</h2>
                </div>
                <div class="section leaf-background about-section scrollto" id="about">

                    <a name="about-section"></a> 
                    <h3>About</h3>
                    <div id="about-text" class="text-section">
                        <p>Andy’s Garden Maintenance was established in 2011 after discovering a passion for gardening. This passion combined with great customer service has helped build a good bond between myself and my clients.</p>
                        <p>We service domestic properties and I am able to quote for all jobs, small or large. I keep my prices competitive, open and fair. Honesty is the key to providing a quality service to my clients.</p>
                        <p>Please see our service section for a list of services we offer. We are fully insured for all the work we carry out. Please get in touch if you think we can help you.</p>
                    </div>
                </div>
                <div class="section" id="gallery">
                    <div id="carosel" class="responsive-carosel">
                        <% @images.each do |image|  %>
                            <a href="<%= image.imagefile.url(:large)%>" class='gallery-link'>
                                <img width="145" height="145" src="<%= image.imagefile.url(:thumb)%>" alt="An example of Andy's work"/>
                            </a>
                        <% end %>
                    </div>
                </div>
                <div class="section leaf-background scrollto" id='testimonials'>
                    <a name="testimonial-section"></a> 
                    <div id="responsive-testimonials" class="responsive-testimonials text-section">
                        <div class="testimonial">
                            <blockquote><p>We are happy to recommend Andy, whether your garden job be big or small. He has competently helped us ” with routine tasks, such as hedge cutting and is currently maintaining my mother's garden on a regular basis, undertaking tasks at his own discretion to prepare the garden for Spring. What a treasure he is proving to be!</p>
                            </blockquote>
                            <h4>S Brown</h4>
                        </div>
                        <div class="testimonial">
                            <blockquote><p>Andy has been helping me with my allotment and garden since he started his own business. He is reliable and his work is excellent. My church have also used him on many occasions. Friendly and trustworthy.</p>
                            </blockquote>
                            <h4>D. Iller</h4>
                        </div>
                        <div class="testimonial">
                            <blockquote><p>Andy and his team performed miracles.  They turned a scruffy and demoralising back garden into an inviting space which I can't believe is mine. They found really lovely turf and laid it perfectly.  They sourced and put up new fences, relocated the garden gate (and made a new one from scratch).  They sorted out the woodwork inside the shed and the guttering, water butt, gravelling and the rest.    It's not just the work that is impressive, but the way in which the work is done: always positive, always on time, always tidy, always checking that things are as they should be and always suggesting some really good ideas about what can be done.  I am both delighted and relieved that Andy and his team were recommended to me, and I am more than happy to recommend them to you as well</p>
                            </blockquote>
                            <h4>P Lyseight-Jones</h4>
                        </div>
                        <div class="testimonial">
                            <blockquote><p>Andy is extremely hard working, flexible and helpful. He offers support and advise, as well as keeping the garden tidy and weed free. He ensures that he completes all jobs well and responds to emails and texts within 24 hours</p>
                            </blockquote>
                            <h4>A Geewan</h4>
                        </div>
                        <div class="testimonial">
                            <blockquote><p>Andy has been working for us for over 18 months now and is someone that i would completely recommend.  Very hardworking and always willing to help on various different jobs around the garden, Andy is also extremely trustworthy and often comes whilst we are away to help keep on top things</p>
                            </blockquote>
                            <h4>M Pearcey</h4>
                        </div>
                    </div>
                </div>
                <div class="section" id="services">
                    <h3>Services</h3>
                    <ul>
                        <li>Lawn Cutting/Maintenance</li>
                        <li>Weed & Feed</li>
                        <li>Hedge Cutting</li>
                        <li>Planting/Removing Shrubs</li>
                        <li>Fence Building & Repairs</li>
                        <li>Garden Maintenance (Weeding)</li>
                        <li>Garden Clearing</li>
                        <li>Pressure Washing</li>
                        <li>Shed Base Installation/Shed Building</li>
                        <li>Waste Disposal</li>
                    </ul>
                </div>