                <div class="section scrollto" id="hero">
                    <a name="home-section"></a> 
                    <img class="logo" src="img/logo.svg" width="280" alt="Andy's Garden Maintenance Logo" />
                    <h1>Gardening services in South Bucks & Berks</h1>
                    <h2>07805 406178 | andysgardenm@gmail.com</h2>
                </div>
                <div class="section leaf-background about-section scrollto" id="about">

                    <a name="about-section"></a> 
                    <h3>About</h3>
                    <div id="about-text" class="text-section">
                        <p>Andy’s Garden Maintenance was established in 2011 after discovering a passion for gardening. This passion combined with great customer service has helped build a good bond between myself and my clients.</p>
                        <p>We service domestic properties and I am able to quote for all jobs, small or large. I keep my prices competitive, open and fair. Honesty is the key to providing a quality service to my clients.</p>
                        <p>Please see our service section for a list of services we offer. We are fully insured for all the work we carry out. Please get in touch if you think we can help you.</p>
                    </div>
                </div>
                <div class="section" id="gallery">
                    <div id="carosel" class="responsive-carosel">
                        <% @images.each do |image|  %>
                            <a href="<%= image.imagefile.url(:large)%>" class='gallery-link'>
                                <img width="145" height="145" src="<%= image.imagefile.url(:thumb)%>" alt="An example of Andy's work"/>
                            </a>
                        <% end %>
                    </div>
                </div>
                <div class="section leaf-background scrollto" id='testimonials'>
                    <a name="testimonial-section"></a> 
                    <div id="responsive-testimonials" class="responsive-testimonials text-section">

                            <% @quotes.each do |quote| %>

                                <div class="testimonial">
                                    <blockquote><p><%= quote.quote %></p>
                                    </blockquote>
                                    <h4><%= quote.name %></h4>
                                </div>

                            <% end %> 
                    </div>
                </div>
                <div class="section" id="services">
                    <h3>Services</h3>
                    <ul>
                        <li>Lawn Cutting/Maintenance</li>
                        <li>Weed & Feed</li>
                        <li>Hedge Cutting</li>
                        <li>Planting/Removing Shrubs</li>
                        <li>Fence Building & Repairs</li>
                        <li>Garden Maintenance (Weeding)</li>
                        <li>Garden Clearing</li>
                        <li>Pressure Washing</li>
                        <li>Shed Base Installation/Shed Building</li>
                        <li>Waste Disposal</li>
                    </ul>
                </div>