<div class="footer-container">
    <footer class="wrapper-left">
        <p>Copyright 2016</p>
        <p>Waste Carrier Licence Number: CBDU109475</p>
        <p><%= link_to "Privacy Policy", asset_path("assets/AGM Privacy Policy.pdf") %></p>
        <p>andysgardenm@gmail.com</p>
        <p>07805 406178</p>
        <p><a href="https://twitter.com/andysgardenm"><i class="fa fa-twitter" aria-hidden="true"></i>@andysgardenm</a></p>
    </footer>
    <footer class="wrapper-right">
        <img src="img/environment-agency.svg" width="200" height="100" alt="Environtmental Agency"/>
        <img src="img/simply-business.svg" class="simply-business" width="100" height="100" alt="Insured By Simply Business"/>
    </footer>
</div>
