
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">

                <label for="show-menu" class="show-menu"><i class="fa fa-bars fa-2x"></i></label>
                <input type="checkbox" id="show-menu" role="button"/>
                <nav class="nav">
                    <ul id="menu">
                        <li class="active"><a href="#hero">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#testimonials">Testimonials</a></li>
                        <li class="highlight-nav"><a href="#contact">Contact</a></li>
                    </ul>
                    <div class="twitter-box align-right">
                        <a href="https://twitter.com/andysgardenm"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
                </div>
                </nav>
            </header>
        </div>