        <%= render "shared/header" %>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <%= render "shared/content", images: @image %>

                <div class="section scrollto" id="contact">
                    <a name="contact-section"></a>
                    <h3>Contact Us</h3>
                    <p><strong>Oh No! We are currently full - servicing our existing clients!</strong></p>
                    <p>If you would like to be added to our waiting list, please contact <a href="mailto:andysgardenm@gmail.com">andysgardenm@gmail.com</a></p>
                </div>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <%= render "shared/footer" %>


        <%= render "shared/ga" %>
