        <%= render "shared/header" %>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <%= render "shared/content", images: @image %>
                
                <div class="section scrollto" id="contact">
                    <a name="contact-section"></a> 
                    <h3>Thank You</h3>
                    <p>Thanks for getting in contact, we aim to get back to you within the next 48 hours.</p>
                 </div>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <%= render "shared/footer" %>

        <%= render "shared/ga" %>
